/* RESET STYLES */
html,body,h1,h2,p,article,header,section{
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

body{
line-height:1;
}

article,figcaption,figure,header,section{
display:block;
}

a{
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}
/* END RESET */

body{
background-color:#fffacd;
}

header{
position:relative;
margin:5px;
border:1px solid #000000;
height:87px;
width:525px;
background-color:#ffffff;
}

a:link {
color:#000000;
text-decoration:none;
}

a:visited {
color:#00177e;
text-decoration:none;
}

a:hover {
text-decoration:underline;
}

section{
position:absolute;
border:1px solid #000000;
background-color:#ffffff;
}

#cuerpo{
width:537px;
background-color:#1e90ff;
}

#cabecera_secciones{
position:relative;
margin:5px;
border:1px solid #000000;
height:20px;
width:525px;
background-color:#f0f0f0;
}

#noticia_relacionada{
position:relative;
margin:5px;
border:1px solid #000000;
height:148px;
width:525px;
background-color:#000000;
}

h1{
font-size:20px;
margin-top:1px;
text-align:center;
}

h2{
font-size:20px;
margin-top:5px;
margin-bottom:5px;
padding:5px;
}

p{
font-size:15px;
text-align:justify;
margin-bottom:5px;
padding:5px;
}

article{
position:relative;
margin:5px;
border:1px solid #000000;
background-color:#ffffff;
}

.nacional{
background-color:#f23a3a;
}

.internacional{
background-color:#f2a93a;
}

.economia{
background-color:#74ea1c;
}

.deportes{
background-color:#e1ff01;
}

#img_cabecera{
height:87px;
width:525px;
}

#img_cabecera_secciones{
height:20px;
width:525px;
}