## -*- coding: utf-8 -*-

<%include file="cabecera.html"/>
<%include file="menu.html"/>

	<section id="cuerpo">
		<h1>Datos introducidos</h1>
		<ul>	
			<li> Usuario: ${usuario} </li>
			<li> Nombre: ${nombre} </li>
			<li> Apellidos: ${apellidos} </li>
			<li> Correo Electrónico: ${correo} </li>
			<li> Número de VISA: ${visa} </li>
			<li> Fecha de nacimiento: ${fecha_nacimiento} </li>
			<li> Dirección: ${direccion} </li>
			<li> Forma de pago: ${pago} </li>
		</ul>
	</section>

<%include file="pie.html"/>

</body>
</html>
