## -*- coding: utf-8 -*-

<%include file="cabecera.html"/>
<%include file="menu.html"/>

	<section id="cuerpo">
		<h1> Noticias deportes: </h1>
		<h2> El Camp Nou empieza a creerse al 'jugadorazo' </h2>
		<h4> Fuente: <a href="http://noticias.lainformacion.com/deporte/copa-nacional/el-camp-nou-empieza-a-creerse-al-jugadorazo_1oXWQvg7yV87RMx2bYyDP6/"> http://noticias.lainformacion.com/deporte/copa-nacional/el-camp-nou-empieza-a-creerse-al-jugadorazo_1oXWQvg7yV87RMx2bYyDP6/ </a> <h4>
		<img id="img_deportes" src="../static/deportes.jpg" alt="deportes"/>
		<p>  Barcelona, 2 nov (EFE).- Criticado, incomprendido y, en ocasiones, ninguneado por parte de la hinchada azulgrana, Alexis Sánchez se ha convertido en una pieza fundamental para Gerardo 'Tata' Martino, que ha visto como el 'jugadorazo' chileno ha pasado de vivir en el ostracismo a decidir partidos importantes. En su tercera y decisiva temporada en las filas del club catalán, el tocopillano ha sacado a relucir su mejor versión goleadora, en un momento en el que la máxima estrella del equipo, Leo Messi, está pasando por un pequeño bache en su juego. Y es que en el primer tramo decisivo de la temporada, el exjugador del Udinese ha hecho un paso adelante y, junto al brasileño Neymar, ha liderado a un equipo que, pese a cosechar unos resultados casi inmaculados, aún le falta engrasar algunas piezas para sacar a relucir su mejor versión. </p>
		<p> La confirmación de la que parece ser su explosión definitiva se empezó a gestar hace justo una semana ante el Real Madrid. Su vaselina -digna del mejor Romario- a Diego López sirvió no sólo para que su equipo se hiciera con una importante victoria ante el eterno rival (2-1), sino también para disfrutar de su primera noche mágica en el Camp Nou, cuyos aficionados no siempre han entendido su juego. Tres días después de ese estallido de pasión, Alexis volvió a ser protagonista. Esta vez en Vigo, donde, tras un rechace del portero a disparo de Fàbregas, anotó a placer el primer tanto del partido, demostrando que, con confianza, su olfato goleador no queda lejos de los grandes depredadores del área. Anoche ante el Espanyol, saboreó, de nuevo, el dulce aroma del gol en un partido trabado, incómodo y feo, en el que al Barcelona le costó dar muestras de su mejor versión ante el planteamiento aguerrido de los de Javier Aguirre. </p>
	</section>

<%include file="pie.html"/>
