## -*- coding: utf-8 -*-

<%include file="cabecera.html"/>
<%include file="menu.html"/>

	<section id="cuerpo">
		<h1> Noticias internacionales: </h1>
		<h2> Alemania y EEUU negocian un acuerdo de no espionaje mutuo </h2>
		<h4> Fuente: <a href="http://noticias.lainformacion.com/mundo/alemania-y-eeuu-negocian-un-acuerdo-de-no-espionaje-mutuo_H09LOZqLmYJNk4ue9CUMy7/"> http://noticias.lainformacion.com/mundo/alemania-y-eeuu-negocian-un-acuerdo-de-no-espionaje-mutuo_H09LOZqLmYJNk4ue9CUMy7/ </a> <h4>
		<img id="img_internacional" src="../static/internacional.jpg" alt="internacional"/>
		<p>  (EFE) Alemania y Estados Unidos pretenden cerrar para principios del próximo año un acuerdo de no espionaje recíproco que prohíba expresamente los seguimientos de las comunicaciones de ambos gobiernos y sus ciudadanos. Así lo avanzó hoy en su página web el diario Frankfurter Allgemeine Sonntagszeitung (FAS), que cita fuentes del Ejecutivo en Berlín y recuerda la polémica que han suscitado en Alemania las revelaciones de que EEUU interceptaba millones de llamadas y correos electrónicos en su país e, incluso, que tenía "pinchado" un móvil de la canciller alemana, Angela Merkel. </p>
		<p> Las primeras conversaciones sobre este pacto tuvieron lugar el pasado miércoles, cuando una delegación de la cancillería germana se entrevistó con altos funcionarios de la Casa Blanca en Washington. En este encuentro se acordó cerrar "pronto" el acuerdo bilateral y será en las próximas semanas cuando se dote de contenido concreto al texto, una tarea en las que participarán tanto políticos como representantes de los servicios secretos de ambos países. </p>
	</section>

<%include file="pie.html"/>
