## -*- coding: utf-8 -*-

<%include file="cabecera.html"/>
<%include file="menu.html"/>

	<section id="cuerpo-twitter">
		<h1> Ejemplo búsqueda por usuario en Twitter: </h1>
		<ul style="padding-left:375px;">	
			<li> <strong> Identificador: </strong> <a href="https://twitter.com/germaaan_"> @germaaan_ </a></li>
			<li> <strong> Nombre: </strong> German Martinez </li>
			<li> <strong> Fecha de creación:</strong> 2012-03-17 16:51:24 </li>
		</ul>
		<h1> Ejemplo de tweet geolocalizado: </h1>
		<ul>
			<li> <strong> <a href="https://twitter.com/germaaan_/status/408604443387895808"> 2013-12-05 14:31:05</a>. @germaaan_: </strong> Vuelta al pueblo por el puente. A ver que sorprendentes aventuras me encuentro esta vez. </li>
			<ul style="padding-left:30px">
				<li> <strong> Publicado por: </strong> German Martinez (<a href="https://twitter.com/germaaan_">@germaaan_</a>) </li>
				<li> <strong> Enviado desde: </strong> Twitter for Android </li>
				<li> <strong> Lugar: </strong> Granada, Granada (España) </li>
				<li> <strong> Coordenadas: </strong> </li>
					<ul style="padding-left:30px">
						<li> <strong> Latitud: </strong> 37.1996456 </li>
						<li> <strong> Longitud: </strong> -3.614256 </li>
						<a href="/maps_Twitter?latitud=37.1996456&longitud=-3.614256&nombre=German Martinez&id=@germaaan_&fecha=2012-03-17 16:51:24&texto=Vuelta al pueblo por el puente. A ver que sorprendentes aventuras me encuentro esta vez."> Mostrar mapa </a>
					</ul>
			</ul>
		</ul>

	</section>

<%include file="pie.html"/>
