/* RESET STYLES */
html,body,h2,h3,p,address,strong,article,aside,footer,header,nav,section{
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

body{
line-height:1;
}

article,aside,footer,header,nav,section{
display:block;
}

a{
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

nav{
list-style:none;
margin:0;
}
/* END RESET */

body{
background-color:#fffacd;
}

aside{
position:absolute;
top:10px;
border:1px solid #000000;
}

#publi_sup{
left:215px;
height:200px;
width:917px;
}

#publi_izq{
left:10px;
height:800px;
width:200px;
}

#publi_der{
left:1137px;
height:800px;
width:200px;
}

header{
position:relative;
margin:10px;
border:1px solid #000000;
height:150px;
width:895px;
background-color:#ffffff;
}

nav{
position:relative;
margin:10px;
border:1px solid #000000;
height:40px;
width:895px;
background-color:#ffffff;
}

a:link {
color:#000000;
text-decoration:none;
}

a:visited {
color:#00177e;
text-decoration:none;
}

a:hover {
text-decoration:underline;
}

section{
position:absolute;
border:1px solid #000000;
background-color:#ffffff;
}

#cuerpo{
top:215px;
left:215px;
width:917px;
background-color:#1e90ff;
}

#formulario{
position:relative;
margin:10px;
padding:30px;
border:1px solid #000000;
border-radius:25px;
width:835px;
background-color:#fffacd;
text-align: center;
}

h1{
font-size:35px;
margin-top:5px;
margin-bottom:5px;
padding:5px;
}

h2{
font-size:22px;
margin-top:5px;
margin-bottom:5px;
padding:5px;
}

h3{
font-size:16px;
margin-bottom:5px;
padding:5px;
}

p{
text-align:justify;
margin-bottom:5px;
padding:5px;
}

#img_cabecera{
height:150px;
width:895px;
}

footer{
position:relative;
margin:10px;
border:1px solid #000000;
border-radius:25px;
width:895px;
background-color:#fffacd;
text-align: center;
}
